@font-face {
    font-family: "atari";
    src: url(./fonts/PineappleDemo-3oGz.ttf);
}

@font-face {
    font-family: "atari2";
    src: url(./fonts/PineappleDemo-3oGz.ttf);
}

@font-face {
    font-family: "bubbles";
    src: url(./fonts/PineappleDemo-3oGz.ttf);
}

* {
    font-family: "bubbles";
}

body {
    height: 100vh;
    overflow: hidden;
    user-select: none;
    background-size: 100% 100%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5rem;
}

header {
    margin-bottom: 0;
    height: 4%;
    color: #2196f3;
    letter-spacing: 5px;
}

main {
    margin: 0;
    height: 96%;
}

.start-page .modals,
.play-again {
    width: 50%;
    height: 50%;
    padding: 5%;
    background-color: #fac42c;
    color: #2196f3;
    font-weight: 200;
    border-radius: 20px;
    border: 4px solid #ff9800;
}



.play-again {
    width: 30%;
    height: 30%;
}

.start-page {
    cursor: default;
}

h2.game-over {
    font-size: 50px;
}

.modals span {
    font-size: 2.2rem;
    margin-right: 0.3rem;
}

.modals span.set-speed {
    font-size: 1.5rem;
    color: #2196f3;
}

.start-btn,
.restart-btn,
.practice-btn,
.new-ball-btn,
.score-btn,
.enter-name {
    border: 4px solid #ff9800;
    border-radius: 0.5rem;
    color: #d63066;
    padding: 0.5rem;
    background-color: #fde095;
    transition: all 0.4s ease;
    transform-origin: center;
}

.start-btn:hover,
.restart-btn:hover,
.practice-btn:hover,
.new-ball-btn:hover,
.score-btn:hover {
    transform: rotate(-2deg);
    border-color: #d63066;
    background: #fde3a0;
}

.enter-name:hover,
.enter-name:focus
{
    border-color: #d63066;
    background: #fde3a0;
    outline: none;
}

.enter-name::placeholder {
    color: #B19C68;
}

.practice-btn {
    margin-top: 140px;
}
.new-ball {
    background-color: antiquewhite;
    color: #2196f3;
    border-radius: 1rem;
}

.modals p {
    color: #3c3b3b;
    font-size: 0.9rem;
    font-weight: 100;
}
.text-center {
    color: #0f7a59;

}

.logo {
    width: 600px;
    margin-top: -50px;
    margin-bottom: -150px;
    z-index: 100;
}
.leaderboard {
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 9999;
    border-radius: 20px;
    color:#0f7a59;
    border: 4px solid #ff9800;
    background-color: #fac42c;
    overflow: hidden;
}

.leaderboard-scores {
    background: url("images/leaderboard-bg.png") no-repeat left ;
    background-size: 100% 100%;
}

.leaderboard-scores-inner {
    max-width: 80%;
    text-align: center;
    margin: 200px auto 0 auto;
}

.leaderboard-rules {
    padding: 5%;
    background: #f98200 url("images/blob.png") no-repeat center ;
    background-size: 110% 110%;
    color: #d63066;
    box-shadow: -18px 7px 24px -9px rgba(0,0,0,0.33);
    text-align: center;
}

.leaderboard-rules h1 {
    font-size: 42px;
    margin-bottom: 30px;
}
.leaderboard-rules-inner {
    max-width: 82%;
    margin: 80px auto 0 auto;
    padding-right: 40px;
}

.leaderboard-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    width: auto;
    color: #fac42c;
}

.alarm {
    color: #f98200;
}
@media screen and (orientation: portrait) {
    body {
        height: 100svh;
    }

    header {
        font-size: 1rem;
    }

    .start-page .modals,
    .end-page .modals {
        width: 90% !important;
    }

    .modals p {
        font-size: 50%;
    }

    .start-btn,
    .restart-btn,
    .new-ball-btn {
        font-size: 1rem;
    }

    .new-ball {
        width: 90%;
        height: 40%;
        font-size: 1rem;
        background-color: #fac42c;
        color: #2196f3;
        border: 4px solid #ff9800;
    }

    @keyframes swing {
        70% {
            transform: translateX(calc(26px * var(--p))) rotate(20deg);
        }
        30% {
            transform: translateX(calc(26px * var(--p))) rotate(20deg);
        }
    }
}
