@font-face {
    font-family: "atari";
    src: url(./fonts/koprac.otf);
}

@font-face {
    font-family: "atari2";
    src: url(./fonts/atari1.ttf);
}

@font-face {
    font-family: "bubbles";
    src: url(./fonts/RubikBubbles-Regular.ttf);
}

* {
    font-family: "bubbles";
}

body {
    height: 100vh;
    overflow: hidden;
    user-select: none;
    background-size: 100% 100%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5rem;
}

header {
    margin-bottom: 0;
    height: 4%;
    color: #2196f3;
    letter-spacing: 5px;
}

main {
    margin: 0;
    height: 96%;
}

.start-page .modals {
    width: 50%;
    height: 50%;
    padding: 5%;
    background-color: antiquewhite;
    color: #2196f3;
    border-radius: 1rem;
    font-weight: 200;
}

.start-page {
    cursor: default;
}

.modals span {
    font-size: 2.2rem;
    margin-right: 0.3rem;
}

.modals span.set-speed {
    font-size: 1.5rem;
    color: #2196f3;
}

.start-btn,
.restart-btn,
.practice-btn,
.new-ball-btn,
.score-btn,
.new-ball-btn {
    border: 2px solid #ff9800;
    border-radius: 0.5rem;
    color: #ff9800;
    padding: 0.5rem;
}

.new-ball {
    background-color: antiquewhite;
    color: #2196f3;
    border-radius: 1rem;
}

.modals p {
    color: #3c3b3b;
    font-size: 0.9rem;
    font-weight: 100;
}

.leaderboard {
    position: fixed;
    background: orange;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 9999;
    padding: 50px 20px;
}

.leaderboard-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    width: auto;
}

@media screen and (orientation: portrait) {
    body {
        height: 100svh;
    }

    header {
        font-size: 1rem;
    }

    .start-page .modals,
    .end-page .modals {
        width: 90% !important;
    }

    .modals p {
        font-size: 50%;
    }

    .start-btn,
    .restart-btn,
    .new-ball-btn {
        font-size: 1rem;
    }

    .new-ball {
        width: 90%;
        height: 40%;
        font-size: 1rem;
    }

    @keyframes swing {
        70% {
            transform: translateX(calc(26px * var(--p))) rotate(20deg);
        }
        30% {
            transform: translateX(calc(26px * var(--p))) rotate(20deg);
        }
    }
}
